language: node_js
cache: npm
notifications:
  email: false
node_js:
  - '10.23.0'
  - '12'
script:
  - npm run test
jobs:
  include:
    - stage: release
      node_js: '12'
      script:
        - npm run test
        - npm run build
      after_success:
        - npm run report-coverage
        - npm run semantic-release
